<style>
  img {
    display: block;
    max-width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      max-width: 50px;
    }
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="/assets/logo.svg" width="75" height="50" />
</a>
